In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('mpg.csv')

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [7]:
df.groupby('model_year').mean()['weight']

model_year
70    3372.793103
71    2995.428571
72    3237.714286
73    3419.025000
74    2877.925926
75    3176.800000
76    3078.735294
77    2997.357143
78    2861.805556
79    3055.344828
80    2436.655172
81    2522.931034
82    2453.548387
Name: weight, dtype: float64

In [8]:
df.groupby(['model_year', 'horsepower']).mean()

                             mpg  cylinders  displacement       weight  \
model_year horsepower
70         113         26.000000        4.0    121.000000  2234.000000
           130         18.000000        8.0    307.000000  3504.000000
           140         17.000000        8.0    302.000000  3449.000000
           150         16.333333        8.0    340.666667  3543.333333
           160         14.000000        8.0    340.000000  3609.000000
...                          ...        ...           ...          ...
82         88          31.250000        4.0    114.000000  2450.000000
           90          27.000000        4.0    151.000000  2842.500000
           92          25.000000        4.0    148.000000  2725.000000
           96          32.000000        4.0    144.000000  2665.000000
           ?           23.000000        4.0    151.000000  3035.000000

                       acceleration  origin
model_year horsepower
70         113            12.500000     2.0
           130            12.000000     1.0
           140            10.500000     1.0
           150            10.833333     1.0
           160             8.000000     1.0
...                             ...     ...
82         88             17.675000     1.5
           90             17.650000     1.0
           92             15.450000     1.0
           96             13.900000     3.0
           ?              20.500000     1.0

[284 rows x 6 columns]

In [9]:
year_weight = df.groupby(['model_year', 'horsepower']).mean()

In [12]:
year_weight.loc[[70, 80]]

                             mpg  cylinders  displacement       weight  \
model_year horsepower
70         113         26.000000   4.000000    121.000000  2234.000000
           130         18.000000   8.000000    307.000000  3504.000000
           140         17.000000   8.000000    302.000000  3449.000000
           150         16.333333   8.000000    340.666667  3543.333333
           160         14.000000   8.000000    340.000000  3609.000000
           165         15.000000   8.000000    350.000000  3693.000000
           170         15.000000   8.000000    383.000000  3563.000000
           190         15.000000   8.000000    390.000000  3850.000000
           193          9.000000   8.000000    304.000000  4732.000000
           198         15.000000   8.000000    429.000000  4341.000000
           200         10.000000   8.000000    307.000000  4376.000000
           210         11.000000   8.000000    318.000000  4382.000000
           215         12.000000   8.000000    400.000000  4463.500000
           220         14.000000   8.000000    454.000000  4354.000000
           225         14.000000   8.000000    455.000000  3755.500000
           46          26.000000   4.000000     97.000000  1835.000000
           85          21.000000   6.000000    200.000000  2587.000000
           87          25.000000   4.000000    110.000000  2672.000000
           88          27.000000   4.000000     97.000000  2130.000000
           90          22.500000   5.000000    153.000000  2539.000000
           95          23.666667   4.666667    138.333333  2526.666667
           97          18.000000   6.000000    199.000000  2774.000000
80         100         23.700000   3.000000     70.000000  2420.000000
           105         27.900000   4.000000    156.000000  2800.000000
           132         32.700000   6.000000    168.000000  2910.000000
           48          43.850000   4.000000     90.000000  2210.000000
           60          38.100000   4.000000     89.000000  1968.000000
           62          29.800000   4.000000     89.000000  1845.000000
           65          41.533333   4.000000     85.666667  2079.666667
           67          36.200000   4.250000    113.750000  2548.750000
           70          32.100000   4.000000     98.000000  2120.000000
           72          32.400000   4.000000    107.000000  2290.000000
           75          31.750000   4.000000    114.000000  2403.500000
           76          41.500000   4.000000     98.000000  2144.000000
           78          34.300000   4.000000     97.000000  2188.000000
           88          30.700000   4.000000    131.000000  2685.000000
           90          25.300000   4.500000    165.250000  2943.250000
           92          37.000000   4.000000    119.000000  2434.000000
           ?           32.250000   4.000000    112.500000  2370.000000

                       acceleration  origin
model_year horsepower
70         113            12.500000     2.0
           130            12.000000     1.0
           140            10.500000     1.0
           150            10.833333     1.0
           160             8.000000     1.0
           165            11.500000     1.0
           170            10.000000     1.0
           190             8.500000     1.0
           193            18.500000     1.0
           198            10.000000     1.0
           200            15.000000     1.0
           210            13.500000     1.0
           215            11.250000     1.0
           220             9.000000     1.0
           225            10.000000     1.0
           46             20.500000     2.0
           85             16.000000     1.0
           87             17.500000     2.0
           88             14.500000     3.0
           90             14.750000     1.5
           95             16.000000     2.0
           97             15.500000     1.0
80         100            12.500000     3.0
           105            14.400000     1.0
           132            11.400000     3.0
           48             22.700000     2.0
           60             18.800000     3.0
           62             15.300000     2.0
           65             17.833333     3.0
           67             18.375000     2.5
           70             15.500000     1.0
           72             17.000000     3.0
           75             16.350000     3.0
           76             14.700000     2.0
           78             15.800000     2.0
           88             16.600000     1.5
           90             17.700000     1.5
           92             15.000000     3.0
           ?              15.800000     1.5

In [16]:
year_weight.index

MultiIndex([(70, '113'),
            (70, '130'),
            (70, '140'),
            (70, '150'),
            (70, '160'),
            (70, '165'),
            (70, '170'),
            (70, '190'),
            (70, '193'),
            (70, '198'),
            ...
            (82,  '79'),
            (82,  '82'),
            (82,  '84'),
            (82,  '85'),
            (82,  '86'),
            (82,  '88'),
            (82,  '90'),
            (82,  '92'),
            (82,  '96'),
            (82,   '?')],
           names=['model_year', 'horsepower'], length=284)

In [17]:
year_weight.loc[(70, '113')]

mpg               26.0
cylinders          4.0
displacement     121.0
weight          2234.0
acceleration      12.5
origin             2.0
Name: (70, 113), dtype: float64